*, ::after, ::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
  overscroll-behavior: none;
  font-family: 'Merriweather', serif;
}

.container {
  width: 100vw;
  height: 100vh;
  position: relative;

  /*.scroll {
    font-size: 1rem;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    color: rgb(9, 10, 8);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid rgb(9, 10, 8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
  }*/
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

